namespace: penguin-libs-beta
buildValidator:
  image:
    pullPolicy: Always
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
config:
  nodeEnv: "test"
  npmRegistry: "https://registry.npmjs.org"
